@import '../../../assets/scss/px2rem.scss';
#info {
    position: relative;
    height: 100%;
    .info-bg {
        position: fixed;
        width: px2rem(1080px);
        height: 100%;
        z-index: -1;
        background: url('../../../assets/images/info-bg.jpg') 0 0 / 100% 100% no-repeat;
        // background-size: 100% 100% ;
    }
    @at-root {
        .info-wrap {
            padding: px2rem(110px) px2rem(60px) px2rem(30px);
        }
        .info-top {
            width: 100%;
        }
        .info-form {
            margin-top: px2rem(-11px);
            padding: px2rem(85px) px2rem(46px) px2rem(30px);
            background-color: #fff;
            box-shadow: px2rem(15px) px2rem(22px) 0 px2rem(6px) rgba(93, 4, 39, .15);
            p {
                color: red;
                padding-left: px2rem(46px);
                margin-bottom: px2rem(30px);
                @include font-dpr(30px);
                // line-height: px2rem(30px);
            }
        }
        .form-group {
            margin-bottom: px2rem(45px);
            border: 1px solid #707070;
            border-radius: px2rem(58px);
            padding: px2rem(24px) px2rem(66px);
            input[type="text"],
            select {
                -webkit-appearance: none;
                float: left;
                width: px2rem(560px);
                height: px2rem(66px);
                @include font-dpr(30px);
                line-height: px2rem(66px);
                border: none;
                background: none;
            }
            label {
                float: left;
                width: px2rem(120px);
                color: #acacac;
                @include font-dpr(30px);
                line-height: px2rem(66px);
            }
            .triangle {
                float: left;
                display: inline-block;
                margin-left: px2rem(20px);
                margin-top: px2rem(30px);
                border-top: px2rem(13px) solid #000;
                border-left: px2rem(13px) solid transparent;
                border-right: px2rem(13px) solid transparent;
                border-bottom: 0 solid transparent;
            }
        }
        .form-submit {
            display: block;
            width: px2rem(400px);
            height: px2rem(100px);
            margin: px2rem(80px) auto 0;
            border-radius: px2rem(50px);
            line-height: px2rem(100px);
            text-align: center;
            color: #fff;
            background: linear-gradient(top, #d82d57, #c0284d);
            @include font-dpr(32px);
        }
        .info-dialog {
            width: 100%;
            height: 100%;
            position: fixed;
            background-color: rgba(0, 0, 0, .73);
            display: flex;
            justify-content: center;
            align-items :center;
            .dialog-con {
                position: relative;
                width: px2rem(635px);
                height: px2rem(635px);
                z-index: 10;
                background: url('../../../assets/images/submit-ok.png') 0 0 / 100% 100% no-repeat;
                a {
                    position: absolute;
                    top: px2rem(-20px);
                    right: px2rem(-20px);
                    width: px2rem(65px);
                    height: px2rem(65px);
                background: url('../../../assets/images/i-close.png') 0 0 / 100% 100% no-repeat;

                }
            }
        }
    }
}
