<div id="brand">
    <loading :loading="!loaded"></loading>
    <div class="common-bg"> </div>
    <div class="ball">
        <a href="/2016_11_11/#!/index">返回首页</a>
        <a v-if="!!brandData && brandData.actNextData.hasNext == 1" href="/2016_11_11/#!/shopping/{{brandData.actNextData.data.subjectId}}/{{brandData.actNextData.data.actId}}">限时秒杀</a>
    </div>


    <div v-if="loaded" class="top-wrap">
        <span></span>
        <div class="top">
            <a><img :src="brandData.brandData.brandImg" /></a>
            <div>{{brandData.brandData.brandDesc}}</div>
        </div>
    </div>
    <div v-if="loaded" class="bike-list-w">
    <div class="bike-list">
        <h1></h1>
        <!-- type 1  discount 有券-->
        <!-- type 3  premium 有赠品-->
        <!-- type 4  both -->
        <div class="brand-bike-list">
            <a class="bike-info" v-for="item in brandData.saleList" href="/2016_11_11/#!/detail/{{item.saleId}}" @click="statsE({'ec': 'detail', 'ea': 'click','ed': item.saleId, 'el': item.salesName }),stats({'ec': 'index_detail_click', 'ea': 'click','ed': item.saleId},$event)"><img :src="item.salesImg" />
                <div class="detail" v-if="item.salesType == 1">
                    <h2>{{item.salesName}}</h2>
                    <p class="market-price">市场价<span>¥<em>{{item.salesMarketPrice}}</em></span></p>
                    <p class="discount">券后价<span>¥<em>{{item.salesDiscountPrice}}</em></span></p>
                    <div class="btn" href="javascript:;">领取优惠券</div>
                </div>
                <div class="detail" v-if="item.salesType == 3">
                    <h2>{{item.salesName}}</h2>
                    <p class="guide-price">市场价<span>¥<em>{{item.salesMarketPrice}}</em></span></p>
                    <p v-if="!!item.salesGift" class="premium">( 赠送: {{item.salesGift}} )</p>
                    <div class="btn" href="javascript:;">预约试骑</div>
                </div>
                <div class="detail" v-if="item.salesType == 4">
                    <h2>{{item.salesName}}</h2>
                    <p class="market-price">市场价<span>¥<em>{{item.salesMarketPrice}}</em></span></p>
                    <p class="discount">券后价<span>¥<em>{{item.salesDiscountPrice}}</em></span></p>
                    <p  v-if="!!item.salesGift" class="premium">( 赠送: {{item.salesGift}} )</p>
                    <div class="btn" href="javascript:;">领取优惠券</div>
                </div>
            </a>
        </div>
        <a v-if="bMore" @click="getMore" class="more" href="javascript:;"></a>
    </div>
    </div>
</div>
