@import '../../../assets/scss/px2rem.scss';

.login-dialog {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);

    width: px2rem(1080px);
    height: 100%;
    background-color: rgba(0, 0, 0, .73);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;

    .dialog-con {
        position: relative;
        width: px2rem(750px);
        // height: px2rem(635px);
        // z-index: 10;
        // background: url('../../../assets/images/submit-ok.png') 0 0 / 100% 100% no-repeat;
        .dialog-top {
            width: 100%;
            height: auto;
        }
        .close {
            position: absolute;
            top: px2rem(-20px);
            right: px2rem(-20px);
            width: px2rem(65px);
            height: px2rem(65px);
            background: url('../../../assets/images/i-close-b.png') 0 0 / 100% 100% no-repeat;
        }
        .form-group {
            padding-left: px2rem(40px) ;
        }
        .imgVali {
            border: none;
            border-radius: none;
            padding: 0;
            // display: flex;

            input {
                width: px2rem(310px);
                padding: px2rem(24px) px2rem(10px) px2rem(24px) px2rem(40px);
                border: 1px solid #707070;
                border-radius: px2rem(58px) 0 0 px2rem(58px);

            }
            .refresh-img {
                float: left;
                width: px2rem(194px);
                height: px2rem(114px);
                border: 1px solid #707070;

                margin-left: px2rem(10px);

            }
            .refresh {
                flex: auto;
                float: left;

                width: px2rem(64px);
                height: px2rem(114px);
                margin-left: px2rem(10px);
                background: url('../../../assets/images/i-refresh.png') no-repeat;
                background-position: 0 px2rem(30px);
                background-size: px2rem(64px) px2rem(54px);

            }
        }
        .phoneVali {
            // display: flex;
            border: none;
            border-radius: none;
            padding: 0;

            input {
                width: px2rem(380px);
                padding: px2rem(24px) px2rem(10px) px2rem(24px) px2rem(40px);
                border: 1px solid #707070;
                border-radius: px2rem(58px) 0 0 px2rem(58px);

            }
            a {
                flex: auto;
                float: left;
                height: px2rem(120px);
                margin-left: -1px;
                line-height: px2rem(120px);
                border-radius: 0 px2rem(58px) px2rem(58px) 0;
                color: #fff;
                text-align: center;

                background-color: #3497db;
                @include font-dpr(30px);


            }
        }
    }
}
