<div class="login-dialog" v-show="loginShow">
    <div class="dialog-con">
        <img class="dialog-top" src="../../../assets/images/info-top.png">
        <span class="close" @click="loginShow=false"></span>
        <validator name="valiLogin">
            <div class="info-form">
                <div class="form-group clear">

                    <input initial="off" detect-change="on" v-validate:phone="['phone']" v-model="phone" type="text" name="phone" placeholder="请输入手机号码" />
                </div>
                <p v-if="$valiLogin.phone.phone">请输入正确的手机号码</p>
                <div class="form-group imgVali clear">

                    <input initial="off" detect-change="on" v-validate:imgvali="['required']" v-model="imgVali" type="text" name="imgVali" placeholder="请输入右侧验证码" />
                    <img class="refresh-img" :src="codeImg"/>
                    <span @click="refreshCodeImg" class="refresh"></span>
                </div>
                <p v-if="$valiLogin.imgvali.required">右侧验证码有误</p>

                <div class="form-group phoneVali clear">

                    <input initial="off" detect-change="on" v-validate:phonevali="['required']" v-model="phoneVali" type="text" name="phoneVali" placeholder="请输入验证码" />
                    <a v-if="!bGettingCode" @click="getCode" href="javascript:;">获取验证码</a>
                    <a v-if="bGettingCode" href="javascript:;">{{countdown}}</a>
                </div>
                <!-- <p v-if="$valiLogin.phone.phone">请输入验证码</p> -->
                <p v-if="submitError">请求错误，请再次尝试！</p>

                <a @click="loginSumit" href="javscript:;" class="form-submit">确认提交</a>
            </div>
        </validator>
    </div>
</div>
