<div id="shopping">
    <loading :loading="!loaded"></loading>
    <div class="common-bg"> </div>
    <div class="ball">
        <a href="/2016_11_11/#!/index">返回首页</a>
    </div>
    <login :login-show.sync="loginShow"></login>
    <div v-if="loaded" class="shopping-wrap">
        <div class="shopping-intro">
            <h2>美骑看车团，心跳折扣抢</h2>
            <p>1.每个用户限秒杀一件，通过不正当手段秒杀的订单，取消结果。</p>
            <p>2.美骑看车团11·11购车嘉年华秒杀商品恕不提供发票，请谨慎下单。</p>
            <p>*本活动最终解释权归美骑所有*</p>
        </div>
        <div class="shopping-prog">
            <div class="shopping-prog-w">
                <div v-for="item in actLists" :class="{active: activeActIdClass == item.actId}" @click="getTabData(item.actId)">
                    <p class="date">{{item.actTime}}</p>
                    <p class="icon"><span></span><em></em></p>
                    <p class="title">{{item.actTitle}}</p>
                    <p :class="{going: item.actState[0]==this.states[1][0]}" class="state"><span>{{item.actState[0]}}</span></p>
                </div>
            </div>
            <span class="tri-left"></span>
            <span class="tri-right"></span>
           <p v-for="(attr,item) in actLists" v-if="activeActIdClass == item.actId" class="describ">{{{actTips[attr]}}}</p>
        </div>
        <!-- salesType 1  打折-->
        <!-- salesType 2  抢购-->
        <div v-for="(attr, item) in salesLists" v-if="activeActIdClass == actLists[attr].actId" :class="{btnGrey: actLists[attr].actState[0]==this.states[0][0] || actLists[attr].actState[0]==this.states[2][0]}" class="shopping-list clear">
            <a v-for="salesListItem in item"  class="shopping-info" href="/2016_11_11/#!/detail/{{salesListItem.saleId}}/{{actLists[attr].stateNum}}" @click="stats({'ec': 'index_detail_click', 'ea': 'click','ed': salesListItem.saleId},$event)" >
            	<span class="shape"></span>
                <img :src="salesListItem.salesImg" />
                <div class="detail" v-if="salesListItem.salesType == 1">
                    <h2>{{salesListItem.salesName}}</h2>
                    <p class="market-price">市场价<span>¥<em>{{salesListItem.salesMarketPrice}}</em></span></p>
                    <p class="discount">活动价<span>¥<em>{{salesListItem.salesDiscountPrice}}</em></span></p>
                    <div class="btn" href="javascript:;">{{actLists[attr].actState[1]}}</div>
                </div>
                <div class="detail buysoon" v-if="salesListItem.salesType == 2">
                    <h2>{{salesListItem.salesName}}</h2>
                    <!-- <p class="market-price">市场价<span>¥<em>{{salesListItem.salesMarketPrice}}</em></span></p> -->
                    <p class="premium ">{{salesListItem.salesMarketPrice}}元抢购</p>
                    <div class="btn" href="javascript:;">{{actLists[attr].actState[1]}}</div>
                </div>
            </a>
        </div>
    </div>
</div>
