@import '../../../assets/scss/px2rem.scss';
#shopping {
    position: relative;
    height: 100%;
    @at-root {
        .shopping-wrap {
            padding-top: px2rem(60px);
        }
        .shopping-intro {
            width: px2rem(890px);
            margin: 0 auto;
            padding: px2rem(40px) px2rem(50px) px2rem(40px);
            background-color: #fff;
            border-radius: px2rem(22px);
            box-shadow: px2rem(15px) px2rem(22px) 0 px2rem(6px) rgba(93, 4, 39, .15);
            h2 {
                padding-bottom: px2rem(16px);
                @include font-dpr(30px);
            }
            p {
                line-height: px2rem(50px);
                @include font-dpr(24px);
                color: #515151;
            }
            p:last-child {
                @include font-dpr(20px);
            }
        }
        .shopping-prog {
            position: relative;
            .describ {
                height: px2rem(70px);
                line-height: px2rem(70px);
                text-align: center;
                @include font-dpr(28px);
                background: url('../../../assets/images/shopping-des.png');
                color: #fff;
                span {
                    color: #fff500;
                }
            }
            .tri-left,
            .tri-right {
                position: absolute;
                top: px2rem(-28px);
                z-index: 0;
                border-top: px2rem(32px) solid #474546;
                border-left: px2rem(32px) solid transparent;
                border-right: px2rem(32px) solid transparent;
                transform-origin: px2rem(32px) px2rem(15px);
            }
            .tri-left {
                left: 0;
                transform: rotate(-45deg);
            }
            .tri-right {
                right: 0;
                transform: rotate(45deg);
            }
        }
        .shopping-prog-w {
            margin-top: px2rem(-20px);
            display: flex;
            flex-flow: row;
            div {
                flex: 1;
                max-width: 33.3333%;

                background-color: #a5a5a5;
                padding: px2rem(40px) 0 px2rem(30px) 0;
                p {
                    text-align: center;
                    @include font-dpr(30px);
                    color: #fff;
                }
                p.title {
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    padding: 0  px2rem(10px);
                }
                .icon {
                    position: relative;
                    width: 100%;
                    height: px2rem(80px);
                    span {
                        position: absolute;
                        left: 50%;
                        top: 50%;
                        transform: translate(-50%, -50%);
                        width: px2rem(30px);
                        height: px2rem(30px);
                        border: 2px solid #fff;
                        background-color: #a5a5a5;
                        border-radius: 50%;
                        z-index: 1;
                    }
                    em {
                        position: absolute;
                        left: 0;
                        top: 50%;
                        transform: translateY(-50%);
                        width: 100%;
                        height: px2rem(5px);
                        background-color: #fff;
                    }
                }
                p.state {
                    text-align: center;
                        margin-top: px2rem(18px);
                    span {
                        display: inline-block;
                        padding: px2rem(5px) px2rem(10px);
                        @include font-dpr(24px);
                        color: #c9c9c9;
                        background-color: #717171;

                    }
                }
                p.state.going {
                    span {
                        color: #424242;
                        background-color: #fff500;

                    }
                }
            }
            div:first-child {
                .icon {
                    em {
                        width: 50%;
                        left: 50%;
                    }
                }
            }
            div:last-child {
                .icon {
                    em {
                        left: 0;
                    }
                }
            }
            div.active {
                position: relative;
                background-color: #d82d57;
                .icon {
                    span {
                        background-color: #fff;
                    }
                }
                .triangle {
                    position: absolute;
                    left: 50%;
                    bottom: px2rem(-17px);
                    transform: translateX(-50%);
                    border-top: px2rem(18px) solid #d82d57;
                    border-left: px2rem(18px) solid transparent;
                    border-right: px2rem(18px) solid transparent;
                }
            }
        }
        .shopping-list {
            width: px2rem(990px);
            margin: px2rem(56px) auto px2rem(48px);
            .shopping-info {
                float: left;
                width: px2rem(480px);
                height: px2rem(560px);
                margin-bottom: px2rem(42px);
                box-shadow: px2rem(15px) px2rem(22px) 0 px2rem(6px) rgba(93, 4, 39, .15);
                background-color: #fff;
                .shape {
                    display: block;
                    height: px2rem(12px);
                    margin-top: px2rem(-12px);
                    background: url('../../../assets/images/shopping-shape.png?__inline') repeat-x;
                    background-size: px2rem(38px) px2rem(12px);
                }
                img {
                    display: block;
                    height: px2rem(265px);
                    width: px2rem(426px);
                    margin: px2rem(30px) auto px2rem(10px);
                }
            }
            .shopping-info:nth-of-type(2n+1) {
                margin-right: px2rem(30px);
            }
            .detail.buysoon {
                .premium  {

                    padding-top: px2rem(30px);
                }
                .btn {

                    bottom: px2rem(44px);
                }

            }
            .detail {
                position: relative;
                border-top: 1px solid #959595;
                padding: px2rem(30px) px2rem(30px) px2rem(46px);
                h2 {
                    // max-width: px2rem(430px);
                    overflow: hidden;
                    white-space: nowrap;
                    color: #000;
                    text-overflow: ellipsis;
                    line-height: px2rem(68px);
                    font-weight: bolder;
                    @include font-dpr(34px);
                }
                .discount {
                    margin-top: px2rem(12px);
                    @include font-dpr(22px);
                    color: #888888;
                    span {
                        display: inline-block;
                        margin-left: px2rem(12px);
                        color: #f60019;
                        @include font-dpr(24px);
                    }
                    em {
                        display: inline-block;
                        margin-left: px2rem(12px);
                        font-weight: bolder;
                        @include font-dpr(30px);
                    }
                }
                .market-price {
                    margin-top: px2rem(10px);
                    @include font-dpr(22px);
                    color: #888888;
                    span {
                        display: inline-block;
                        margin-left: px2rem(12px);
                        @include font-dpr(18px);
                        color: #000;
                    }
                    em {
                        display: inline-block;
                        margin-left: px2rem(12px);
                        text-decoration: line-through;
                        @include font-dpr(22px);
                    }
                }
                .discount {
                    color: #f60019;
                }
                .premium {
                    margin-top: px2rem(10px);
                    color: #f60019;
                    font-weight: bolder;
                    @include font-dpr(34px);
                }
                .btn {
                    position: absolute;
                    bottom: px2rem(50px);
                    right: px2rem(30px);
                }
            }
        }
        .btnGrey {
            .btn {
                background: linear-gradient(top, #acacac, #898989);
                border: 1px solid #7d7d7d;
            }
        }
    }
}
