<div id="home">
	<loading v-bind:loading="!loaded"></loading>
	<div v-if="loaded" class="common-con">
		<div  class="top">
			<img src="../../../assets/images/home-top.jpg"/>
			<div v-if="!!homeData.actNextData.hasNext" class="shopping-enter clear">
				<div class="time-wrap fl">
					<span class="i-clock"></span>
					<strong class="">秒杀开始</strong>
					<p class=""><span>{{hour}}</span>时<span>{{min}}</span>分<span>{{sec}}</span>秒</p>
				</div>
				<a class="go-shop fr" href="/2016_11_11/#!/shopping/{{homeData.actNextData.data.subjectId}}/{{homeData.actNextData.data.actId}}" @click="statsE({'ec': 'front_e', 'ea': 'click'}),stats({'ec': 'index_entrance_click', 'ea': 'click'},$event)">立即进入心跳折扣抢<span></span></a>
			</div>
		</div>
		<div  class="home-brand-list clear">
			<!-- <span class="title"></span> -->
			<a v-for="item in homeData.brandList" href="/2016_11_11/#!/brand/{{item.brandId}}" @click="statsE({'ec': 'brand', 'ea': 'click','ed': item.brandId, 'el': item.brandName }),stats({'ec': 'index_brand_click', 'ea': 'click','ed': item.brandId},$event)">
				<img :src="item.brandImg">
				<span class="ellipse"></span>
			</a>
            <p class="tips">点击上方LOGO进入活动页面</p>
		</div>
	</div>
</div>
