@import '../../../assets/scss/px2rem.scss';
.success {
    .success-back,.success-error {
        padding: 0 px2rem(60px);
        
    }
    .info {
        padding: px2rem(250px) 0;
        text-align: center;
        .i-gou {
            display: inline-block;
            width: px2rem(164px);
            height: px2rem(160px);
            margin-bottom: px2rem(20px);
            background: url('../../../assets/images/i-gou.png?__inline') 0 0 /100% 100% no-repeat;
        }
        .i-tan {
            display: inline-block;
            width: px2rem(252px);
            height: px2rem(252px);
            margin-bottom: px2rem(20px);
            background: url('../../../assets/images/i-tan.png?__inline') 0 0 /100% 100% no-repeat;
        }
        h1 {
        	font-weight: normal;
            @include font-dpr(102px);
            line-height: px2rem(130px);
            margin-bottom: px2rem(20px);
            
            color: #ff9900;
        }
        h2 {
        	font-weight: normal;
            @include font-dpr(62px);
            line-height: px2rem(130px);
            color: #474747; 	
        }
        p {
            @include font-dpr(38px);
            line-height: px2rem(70px);
            color: #777777;
        }
    }
}
