<div class="success">
    <loading :loading="!loaded"></loading>
	<div class="success-back" v-if="loaded&&success">
	    <div class="info">
	    	<span class="i-gou"></span>
	    	<h1>恭喜您</h1>
	    	<h2>已成功完成抢购!</h2>
	    	<p>工作人员将尽快与您联系</p>
	    	<p>请保持手机畅通</p>
	    </div>
	    <a class="weixin-btn" href="/2016_11_11/#!/index">完成</a>		
	</div>
	
	<div class="error-back" v-if="loaded&&!success">
	    <div class="info">
	    	<span class="i-tan"></span>
	    	<h2>支付失败!</h2>
	    </div>
	    <a class="weixin-btn" href="/2016_11_11/#!/index">返回上一页</a>		
	</div>


</div>